*.DS_Store
data/.DS_Store
venv/
gwdr.egg-info/
.vscode
*.egg
*.pt
venv/
GWDR.egg-info/
.vscode
*.blg
*.bbl
*.aux
*.out
*.synctex
*.toc
*.fls
*.log
*.gz
*.fdb_latexmk
*.pyc
*.pdf
*.pt
# GWDR/data
gwdr/demo/test.png
#gwdr/exps/runs/
scGeneFit-python/
*.png
._*
*.maf
*.mtc*
*.venv
*.txt
*PKG-INFO